.thumb {
  background-color: rgb(36, 36, 36);
  border: solid 2px rgba(12, 12, 12, 0.9);
  box-shadow: 1px 1px 12px #555;
  border-radius: 5px;
}

.thumb img {
  width: 15rem;
  height: 12rem;
  object-fit: contain;
  margin-top: 0.1rem;
}
.thumb h2 {
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.thumb figcaption {
  width: 20rem;
  text-align: left;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
.thumb a {
  color: rgb(225, 170, 170);
  text-decoration: none;
  font-weight: bold;
  border: solid 2px rgb(225, 170, 170);
  padding: 0 0.5rem;
}
.link-article {
  margin-bottom: 0.5rem;
}
.name {
  width: 19.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name button {
  width: 5rem;
  height: 3rem;
  border-radius: 0.5rem;
}

.incomming {
  text-align: right;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: rgba(255, 255, 0, 0.6);
  font-weight: bold;
}
.success {
  width: 5rem;
  padding: 0.2rem;
  margin-top: 1rem;
  text-align: center;
  color: white;
  background-color: red;
  transform: rotate(-20deg);
}

#caption1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0;
}
.launch-crew {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 0 0.5rem;
  margin-top: 0.2rem;
  border-radius: 1rem 0;
}

.launch-crew p {
  margin: 0;
  font-size: 0.6rem;
  line-height: 0;
}
.launch-crew a {
  border: none;
  margin: 0;
}
.clign {
  animation: clignote 1500ms linear infinite;
}
@keyframes clignote {
  50% {
    opacity: 0;
  }
}
.color-details {
  color: rgb(225, 170, 170);
  font-weight: bold;
  font-size: 1rem;
}
.main-caption {
  height: 6.5rem;
}

.details {
  height: 5rem;
  overflow: auto;
  margin-bottom: 1rem;
}
.details p {
  margin: 0;
  padding-right: 0.6rem;
  font-size: 0.8rem;
}
.details::-webkit-scrollbar {
  width: 0.3rem;
  background-color: rgb(231, 230, 230);
}
.white-content .thumb {
  background-color: white;
  border: solid 2px rgba(149, 147, 147, 0.5);
}
.white-content .incomming {
  color: rgba(1, 50, 88, 0.6);
}
.white-content .color-details {
  color: rgb(124, 63, 63);
}
.white-content .thumb a {
  color: rgb(124, 63, 63);
}
.white-content .details::-webkit-scrollbar {
  background-color: rgb(113, 111, 111);
}
.white-content .launch-crew {
  background-color: rgba(1, 50, 88, 0.2);
}
