.all-gallery {
  margin-top: 16rem;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.filter p {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}
