.all-gallery {
  margin-top: 24rem;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}
.aside {
  width: 25%;

  margin-top: 23rem;
}
.filter p {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0;
}
