.header {
  width: 100%;
  max-width: 2000px;
  height: 0;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  background-color: black;
  border-bottom: solid rgba(255, 255, 0, 0.6) 0.3rem;
  z-index: 2;
  animation: visible 5ms linear forwards;
  animation-delay: 2s;
}
@keyframes visible {
  0% {
    opacity: 0;
    height: 0;
  }
  100% {
    opacity: 1;
    height: 15rem;
  }
}
h1 {
  font-size: 3rem;
  padding: 1rem 3rem;
  color: white;
  border: white solid 2rem;
  border-image: linear-gradient(white, rgba(255, 255, 255, 0.1)) 50;
  box-shadow: 17px 16px 18px 0px rgba(255, 255, 255, 0.76);
  -webkit-box-shadow: 17px 16px 18px 0px rgba(255, 255, 255, 0.76);
  -moz-box-shadow: 17px 16px 18px 0px rgba(255, 255, 255, 0.76);
}
h2 {
  font-size: 3rem;
  padding: 0 3rem;
  color: rgb(209, 208, 208);
  margin: 1rem auto;
}
.link {
  margin: 2rem auto auto auto;
  width: 50%;
  padding: 0.5rem;
  background-color: #d6d5d5;
  border-radius: 0.5rem;
}
.header a {
  text-decoration: none;
  color: black;
}
.header button {
  padding: 0.5rem;
}
.white-content h1 {
  color: black;
  border: white solid 2rem;
  border-image: linear-gradient(rgba(0, 0, 0, 0.1), black) 50;
  box-shadow: 17px 16px 18px 0px rgba(0, 0, 0, 0.76);
  -webkit-box-shadow: 17px 16px 18px 0px rgba(0, 0, 0, 0.76);
  -moz-box-shadow: 17px 16px 18px 0px rgba(0, 0, 0, 0.76);
}
.white-content header {
  background-color: white;
  border-bottom: solid rgba(1, 50, 88, 0.6) 0.3rem;
}
.white-content h2 {
  color: grey;
}
.white-content .link {
  background-color: rgba(0, 0, 0, 0.8);
}
.white-content .link a {
  color: white;
}

/* responsive */

@media (max-width: 1620px) {
  h1 {
    font-size: 1.8rem;
  }
  h2 {
    font-size: 2rem;
  }
}
@media (max-width: 1230px) {
  h2 {
    width: 80%;
    padding: 0;
  }
  @media (max-width: 1140px) {
    h1 {
      margin-left: 2rem;
    }
    h2 {
      width: 70%;
      padding: 0;
    }
  }
  @media (max-width: 850px) {
    .header {
      display: block;
      padding-top: 1rem;
    }
    h1 {
      width: 50%;
      margin: auto;
    }
    h2 {
      width: 100%;
    }
    .header .header-btn {
      width: 80%;
      display: flex;
      justify-content: center;
      margin: auto;
    }
    .header .link {
      width: 40%;
    }
    @keyframes visible {
      0% {
        opacity: 0;
        height: 0;
      }
      100% {
        opacity: 1;
        height: 20rem;
      }
    }
  }
}
@media (max-width: 650px) {
  .header .header-btn {
    width: 100%;
  }
  @keyframes visible {
    0% {
      opacity: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      height: 25rem;
    }
  }
}
@media (max-width: 350px) {
  @keyframes visible {
    0% {
      opacity: 0;
      height: 0;
    }
    100% {
      opacity: 1;
      height: 28rem;
    }
  }
}
