.next {
  background-color: rgb(242, 242, 172);
  border: solid 2px rgba(61, 61, 61, 0.9);
  box-shadow: 5px 5px 20px yellow;
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

.next img {
  max-width: 11rem;
  object-fit: contain;
  margin: auto;
  margin-top: 1rem;
}
.next h3 {
  color: black;
  font-size: 1.2rem;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
}
.next p {
  color: black;
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.next figure {
  width: 100%;
  margin: auto;
}
.next figcaption {
  text-align: left;
  padding-left: 0.1rem;
  padding-bottom: 0.1rem;
}
.next a {
  color: rgb(225, 170, 170);
  text-decoration: none;
  font-weight: bold;
  border: solid 2px rgb(225, 170, 170);
  padding: 0 0.5rem;
}
.next-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.next .color-details {
  color: rgb(121, 45, 45);
  font-weight: bold;
}

.white-content .next {
  background-color: rgba(1, 50, 88, 0.2);
  border: solid 2px rgba(149, 147, 147, 0.5);
  box-shadow: 5px 5px 20px rgba(1, 50, 88);
}

.white-content .next .color-details {
  color: rgb(45, 56, 99);
}
.white-content .next a {
  color: rgb(124, 63, 63);
  border: solid 2px rgb(124, 63, 63);
}
.white-content .next h2 {
  color: black;
}
